<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport="true" role="navigation" mode='side' opened=true>
    <mat-toolbar color="primary">菜单</mat-toolbar>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <a [routerLink]="node.url">{{node.name}}</a>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
          {{node.name}}
        </button>
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar></mat-toolbar>
    <mat-divider></mat-divider>
    <div class="margin">
      <h4>test / 1 / 2</h4>
      <h2>运营后台</h2>
    </div>

    <div class="margin padding" style="height:100%;background-color: white">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
