.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

mat-tree-node a {
  color: inherit;
  text-decoration: none
}

mat-tree-node a:visited {
  color: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.margin {
  margin: 24px;
}

.padding {
  padding: 24px;
}
