<div *ngIf="data" class="form-vertical">
  <mat-form-field>
    <mat-label>品牌编号</mat-label>
    <input matInput disabled [(ngModel)]="data.brandCode">
  </mat-form-field>

  <mat-form-field>
    <mat-label>产品编号</mat-label>
    <input matInput disabled [(ngModel)]="data.goodsCode">
  </mat-form-field>

  <mat-form-field>
    <mat-label>商品编号</mat-label>
    <input matInput disabled [(ngModel)]="data.skuCode">
  </mat-form-field>

  <mat-form-field>
    <mat-label>商品名称</mat-label>
    <input matInput [(ngModel)]="data.skuName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>商品关键字</mat-label>
    <input matInput [(ngModel)]="data.skuByName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>色号</mat-label>
    <input matInput [(ngModel)]="data.colorNo">
  </mat-form-field>

  <mat-form-field *ngIf="data.color1;then double else single"></mat-form-field>

  <image-upload
    url="/api/file/upload"
    buttonCaption="首页图"
    dropBoxMessage="拖拽上传"
    clearButtonCaption="清除"
    max="1"
    [extensions]="['jpg','jpeg','png']"
    [uploadedFiles]="figure"
  >
  </image-upload>

  <image-upload
    url="/api/file/upload"
    buttonCaption="详情图"
    dropBoxMessage="拖拽上传"
    clearButtonCaption="清除"
    [extensions]="['jpg','jpeg','png']"
    [uploadedFiles]="detailImages"
  >
  </image-upload>
</div>

<ng-template #single>
  <mat-form-field>
    <mat-label>色卡</mat-label>
    <input matInput [(ngModel)]="data.color">
    <div matSuffix style="width: 20px;height: 20px" [ngStyle]="{'background-color':data.color}"></div>
  </mat-form-field>
</ng-template>

<ng-template #double>
  <mat-label>色卡</mat-label>
  <table cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="data.color">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="data.color1">
          <div matSuffix>
            <div style="width: 10px;height: 20px;display: inline-block"
                 [ngStyle]="{'background-color':data.color}"></div>
            <div style="width: 10px;height: 20px;display: inline-block"
                 [ngStyle]="{'background-color':data.color1}"></div>
          </div>
        </mat-form-field>
      </td>
    </tr>
  </table>
</ng-template>
