<form *ngIf="data">
  <div class="full-width">
    <mat-form-field style="width: 25%">
      <input matInput disabled name="brandCode" placeholder="品牌编号" [(ngModel)]="data.brandCode">
    </mat-form-field>
    <mat-form-field style="width: 25%">
      <input matInput disabled name="goodsCode" placeholder="产品编号" [(ngModel)]="data.goodsCode">
    </mat-form-field>
    <mat-form-field style="width: 25%">
      <input matInput disabled name="skuCode" placeholder="商品编号" [(ngModel)]="data.skuCode">
    </mat-form-field>
  </div>

  <div class="full-width">
    <mat-form-field style="width: 25%">
      <input matInput name="skuName" placeholder="商品名称" [(ngModel)]="data.skuName">
    </mat-form-field>
  </div>

  <div class="full-width">
    <mat-form-field style="width: 25%">
      <input matInput name="skuByName" placeholder="商品关键字" [(ngModel)]="data.skuByName">
    </mat-form-field>
  </div>

  <div class="full-width">
    <mat-form-field style="width: 25%">
      <input matInput name="colorNo" placeholder="色号" [(ngModel)]="data.colorNo">
    </mat-form-field>
  </div>

  <div class="full-width">
    <div *ngIf="data.color1;then double else single"></div>
  </div>

  <image-upload
    title="首页图"
    max="1"
    prefix="/image/"
    [extensions]="['jpg','jpeg','png']"
    [files]="[data.figure]"
    (uploadFiles)="uploadFigure($event)"
  >
  </image-upload>

  <image-upload
    title="详情图"
    max="10"
    prefix="/image/"
    [extensions]="['jpg','jpeg','png']"
    [files]="data.imgs"
    (uploadFiles)="uploadImages($event)"
  >
  </image-upload>

  <button mat-flat-button color="primary" (click)="save()">保存</button>
</form>

<ng-template #single>
  <mat-form-field style="width: 25%">
    <input matInput name="color" placeholder="色卡" [(ngModel)]="data.color">
    <div matSuffix style="width: 20px;height: 20px" [ngStyle]="{'background-color':data.color}"></div>
  </mat-form-field>
</ng-template>

<ng-template #double>
  <mat-form-field style="width: 12.5%">
    <input matInput name="color" placeholder="色卡1" [(ngModel)]="data.color">
  </mat-form-field>
  <mat-form-field style="width: 12.5%">
    <input matInput name="color1" placeholder="色卡2" [(ngModel)]="data.color1">
    <div matSuffix>
      <div style="width: 10px;height: 20px;display: inline-block" [ngStyle]="{'background-color':data.color}"></div>
      <div style="width: 10px;height: 20px;display: inline-block" [ngStyle]="{'background-color':data.color1}"></div>
    </div>
  </mat-form-field>
</ng-template>
