.image-upload-overview {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-wrapper {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, .54);
  line-height: 12px;
}

.image-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.image-show-block {
  display: inline-block;
  margin: 6px;
}

.image-content {
  width: 100%;
  height: 100%;
}
