.image-upload-overview {
  padding-bottom: 20px;
}

.title-wrapper {
  margin-bottom: 5px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: rgba(0, 0, 0, .54);
}

.image-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.block-border {
  border: 1px dashed #d9d9d9;
}

.block-border:hover {
  border: 1px dashed dodgerblue;
}

.block-border-radius {
  border-radius: 5px;
}

.image-show-block {
  position: relative;
  display: inline-block;
  padding: 1px;
  margin: 0 5px 5px 0;
}

.full-content {
  width: 100%;
  height: 100%;
}

.image-upload-container {
  text-align: center;
  background-color: lightgray;
}

.image-action-show {
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 100;
  text-align: center;
  overflow: hidden;
}


.image-action-show:hover {
  opacity: 1;
  background: rgba(0, 0, 0, .5);
  transition: background .5s;
}

.image-action-cursor {
  cursor:pointer;
  color: white;
}
