<div
  fileDrop
  class="image-upload-overview"
  [accept]="supportedExtensions"
  (fileOver)="onFileOver($event)"
  (fileDrop)="onFileChange($event)"
  [ngClass]="{'img-ul-file-is-over': fileOver}"
  [ngStyle]="style?.layout"
>
  <div class="title-wrapper">
    {{title}}
  </div>

  <div class="image-wrapper">
    <div class="image-show-block" *ngFor="let file of files"
         [ngStyle]="{width:imageShowWidth,height:imageShowHeight}">
      <img class="image-content" [src]="file.src"/>
    </div>
    <button mat-flat-button color="primary" (click)="uploader.click()">
      <mat-icon>add</mat-icon>
    </button>
    <input #uploader type="file" style="display:none;">
  </div>
</div>
