<div
  fileDrop
  class="image-upload-overview"
  [accept]="supportedExtensions"
  (fileOver)="onFileOver($event)"
  (fileDrop)="onFileChange($event)"
  [ngClass]="{'img-ul-file-is-over': fileOver}"
  [ngStyle]="style?.layout"
>
  <div class="title-wrapper">
    {{title}}
  </div>

  <div class="image-wrapper">
    <div class="image-show-block block-border block-border-radius" *ngFor="let file of files"
         [ngStyle]="{width:imageShowWidth,height:imageShowHeight}"
         (mousemove)="setImageActionHidden(false)"
         (mouseleave)="setImageActionHidden(true)"
    >
      <img class="full-content block-border-radius" [src]="file.src"/>
      <div class="full-content image-show-action" [hidden]="imageActionHidden">
        <mat-icon style="color: white">visibility</mat-icon>
        <mat-icon style="color: white">delete_outline</mat-icon>
      </div>
    </div>
    <div class="image-show-block block-border block-border-radius" style="display: flex;flex-flow: column wrap;"
         [ngStyle]="{width:imageShowWidth,height:imageShowHeight}" (click)="uploader.click()"
    >
      <div class="image-upload-container block-border-radius full-content">
        <mat-icon style="display: inline-block">add</mat-icon>
        <span style="display: inline-block">上传图片</span>
        <input #uploader type="file" style="display:none;"/>
      </div>
    </div>
  </div>
</div>
